@{
    ViewData["Title"] = "Home Page";
}

<from asp-action="Index">
    <label>Nhập Họ Tên</label>
    <input type="text"name="FullName">
    <label>Nhập địa chỉ</label>
    <input type="text"name="Address">
    <input type="submit"value="Gửi dữ liệu"
</from>
