<h1>Demo của mvc </h1>
dotnet aspnet-codegenerator controller -name SinhvienController -m Sinhvien -dc FirstWebMVC.Data.ApplicationDbContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries --databaseProvider sqlite
dotnet aspnet-codegenerator controller -name EmployeeController -m Employee -dc FirstWebMVC.Data.ApplicationDbContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries --databaseProvider sqlite